// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:350,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "fornecedor";

@import "servico";

.col_grid_show {
    min-width: 20px;
    max-width: 20px;
    width: 20px;
}

.col_grid_edit {
    min-width: 20px;
    max-width: 20px;
    width: 20px;
}

.col_grid_delete {
    min-width: 23px;
    max-width: 23px;
    width: 23px;
}
