.col_for_cnpj_cpf {
    min-width: 200px;
    max-width: 200px;
    width: 200px;
}

.col_for_razao_social {
    min-width: 520px;
    max-width: 520px;
    width: 520px;
}

.col_for_nome_fantasia {
    min-width: 420px;
    max-width: 420px;
    width: 420px;
}

.col_for_telefone {
    min-width: 160px;
    max-width: 160px;
    width: 160px;
}

.col_for_contato {
    min-width: 250px;
    max-width: 250px;
    width: 250px;
}

.col_for_email {
    min-width: 200px;
    max-width: 200px;
    width: 200px;
}

